<div class="container">
  <h1>Edit my finding</h1>

  <div class="container">
    <%= simple_form_for([@animal, @finding]) do |f| %>
      <%= Date.today.strftime("%a, %e %b %Y") %>
      <%= f.input :comment %>
      <%= f.input :address %>
      <%= f.input :photo %>
      <%= f.button :submit, class: "btn btn-highlight mb-5" %>
    <% end %>
  </div>

  <%= link_to "Back to the finding", finding_path(finding), class: "btn btn-ghost"  %>
  </div>
</div>
