<div data-controller="tabs">
  <ul class="list-inline tabs-underlined mb-5" >
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink" class="tab-underlined active" id="findings">
      <span>My finds</span>
    </li>
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink"  class="tab-underlined" id="locations">
      <span>Map</span>
    </li>
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink" class="tab-underlined" id="achievements">
      <span>Achievements</span>
    </li>
  </ul>

  <div data-tabs-target="tabcontent findings">
    <h5 class="text-center">Here's all the animals you've found!</h5>
    <div class="cards">
      <% @my_findings.each do |finding| %>
        <div class="card-horizontal">
        <% if finding.photo.attached? %>
          <%= cl_image_tag finding.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag finding.picture, class: "card-img-top" %>
        <% end %>
          <div class="card-horizontal-infos">
            <h2><%= finding.animal.name %></h2>
            <p><%= finding.address %></p>
            <span><%= finding.date %></span>
            <div class="card-vertical-bottom">
              <%= link_to "See more!", finding_path(finding), :class => "btn btn-highlight" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div data-tabs-target="tabcontent locations" class="d-none">
    <h5 class="text-center">Your finds</h5>
    <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 100%; height: 520px;'>
    </div>
  </div>

  <div data-tabs-target="tabcontent achievements" class="d-none">
    <ul>
      <% current_user.badges.each do |badge| %>
        <li><%= badge.name %></li>
      <% end %>
    </ul>
  </div>
</div>
