<div data-controller="tabs" class="mb-5 pb-5">
  <ul class="list-inline tabs-underlined mb-3" >
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink" class="tab-underlined active" id="findings">
      <span>My finds</span>
    </li>
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink"  class="tab-underlined" id="locations">
      <span>Map</span>
    </li>
    <li data-action="click->tabs#changeTab" data-tabs-target="tablink" class="tab-underlined" id="achievements">
      <span>Achievements</span>
    </li>
  </ul>

  <div data-tabs-target="tabcontent findings">
    <div class="filter d-flex justify-content-center">

        <div class="w-75">
        <div class="row">
              <div id="filter-panel" class="collapse filter-panel">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <form class="form-inline" role="form" action="/findings">
                              <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Species:</label>
                                <select name="classification" id="pref-perpage" class="form-control">
                                  <option selected="selected" value="mammal">Mammal</option>
                                  <option value="reptile">Reptile</option>
                                  <option value="bird">Bird</option>
                                  <option value="insect">Insect</option>
                                  <option selected="selected" value="all">All</option>
                                </select>
                              </div> <!-- form group [rows] -->
                              <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-search">Search animal name:</label>
                                <input type="text" name="name" class="form-control input-sm" id="pref-search">
                              </div><!-- form group [search] -->
                              <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by date:</label>
                                <select name="date_order" id="pref-orderby" class="form-control">
                                  <option value="desc">Most recent first</option>
                                  <option value="asc">Most recent last</option>
                                </select>
                              </div> <!-- form group [order by] -->
                              <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-highlight filter-col px-5 w-100 mt-3">
                                  <span class="glyphicon glyphicon-record"></span> Go!
                                </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <button type="button" class="btn btn-nav" data-toggle="collapse" data-target="#filter-panel">
                  <span class="glyphicon glyphicon-cog"></span> Filter findings
              </button>
          </div>
        </div>
      </div>
    <div class="cards">
      <% @my_findings.each do |finding| %>
        <%= link_to(finding_path(finding)) do %>
          <div class="card-vertical">
          <% if finding.photo.attached? %>
            <%= cl_image_tag finding.photo.key, crop: :fill %>
          <% else %>
            <%= image_tag finding.picture, class: "card-vertical-cover-img" %>
          <% end %>
            <div class="card-vertical-infos">
              <h2 class=""><%= finding.animal.name %></h2>
              <p><%= finding.address %></p>
              <span><%= finding.date %></span>
              <%# <div class="card-vertical-bottom">
              </div> %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div data-tabs-target="tabcontent locations" class="d-none">
    <h5 class="text-center mb-5">Your finds</h5>
    <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 100%; height: 300px;'>
    </div>
  </div>

  <div data-tabs-target="tabcontent achievements" class="d-none">
    <div class="badges">
      <%# Uncomment the badges you want to add to a profile %>
      <%# If you want to remove one, use "current_user.rm_badge(badge.id)" %>
      <%# <% current_user.add_badge(1) %>
      <%# <% current_user.add_badge(2) %>
      <%# <% current_user.add_badge(3) %>
      <%# <% current_user.add_badge(4) %>
      <%# <% current_user.add_badge(5) %>
      <%# <% current_user.add_badge(6) %>
      <%# <% current_user.add_badge(7) %>
      <%# <% current_user.add_badge(8) %>
      <%# <% current_user.add_badge(9) %>
      <%# <% current_user.add_badge(10) %>
      <% current_user.badges.each do |badge| %>
        <div class="badge">
          <div class="badge-cover-img", style="background-color: hsla(<%= badge.custom_fields[:background_color] %>); border-color: hsl(<%= badge.custom_fields[:color] %>) ">
            <%= icon('fa-solid', badge.custom_fields[:icon_name], class: 'fa-3x', style: "color: hsl(#{badge.custom_fields[:color]});")%>
          </div>
          <h2><%= badge.name %></h2>
          <p><%= badge.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
