
<div class = "text-center">
  <h1>You found a new animal!</h1>
  <p>You saw a <%= @animal.name %> and didnt faint</p>
</div>

<div class="card-vertical">
  <%= cl_image_tag @animal.photo.key, class: "card-vertical-cover-img", crop: :fill %>
  <div class="card-vertical-infos">
    <div class="card-vertical-description">
      <%= simple_form_for([@animal, @finding]) do |f| %>
      <%= Date.today.strftime("%a, %e %b %Y") %>
      <%= f.input :comment %>
      <%= f.input :address %>
      <%= f.input :photo %>
      <%= f.button :submit, class: "btn btn-highlight card-vertical-bottom" %>
    <% end %>
    </div>
  </div>
</div>





<%= link_to "Back to the animal", animal_path(@animal), class: "btn btn-nav"  %>
