
<div class="container mt-5">
  <h1 class = "mb-5">New finding</h1>

  <div class="container">
    <%= simple_form_for(@finding) do |f| %>
      <%= f.input :date %>
      <%= f.input :comment %>
      <%# <%= f.input :location %>
      <%= f.input :photo %>
      <%= f.button :submit, class: "btn btn-flat mb-5" %>
    <% end %>
  </div>

  <%= link_to "Back to the finding list", findings_path, class: "btn btn-ghost"  %>
</div>

