
<div class = "text-center mt-3">
  <h1>🎉 Congratulations! 🎉</h1>
  <p>You found a <%= @animal.name.downcase %> </p>
</div>

<div class="card-vertical">
  <%= cl_image_tag @animal.photo.key, class: "card-vertical-cover-img", crop: :fill %>
  <div class="card-vertical-infos">
    <div class="card-vertical-description">
      <%= simple_form_for([@animal, @finding]) do |f| %>
      <%= f.input :comment, :label => "Notes" %>
      <%= f.input :address, :label => "Where did you find it?", input_html: { class: "rounded-input" } %>
      <%= f.input :photo, input_html: { class: "rounded-input" } %>
      <%= f.input :date, :as => :hidden, :input_html => { :value => Date.today.strftime("%a, %e %b %Y")} %>
      <div class="d-flex justify-content-center">
        <%= button_tag(type: 'submit', class: "btn btn-highlight card-vertical-bottom py-3 px-5") do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
