
<div class="card-vertical">

  <% if @finding.photo.attached? %>
        <%= cl_image_tag @finding.photo.key, crop: :fill, class: "card-vertical-cover-img" %>
        <% else %>
        <%= image_tag @finding.picture, class: "card-img-top card-vertical-cover-img", crop: :fill %>
        <% end %>
  <% if @finding.user == current_user %>
    <% name_placeholder = 'You' %>
  <% else %>
    <% name_placeholder = @finding.user.username %>
  <% end %>
  <div class="card-vertical-infos">
    <div class="card-vertical-description">
      <h2><%= @finding.animal.name %></h2>
      <p>This animal was found in <strong><%= @finding.address %></strong>.</p>
      <p><%= name_placeholder %> found this animal on <strong><%= @finding.date %></strong>.</p>
      <br>
      <p><%= name_placeholder %> also added this note: <br><em>"<%= @finding.comment %>"</em></p>

    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-nav" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Details <i class="fa-solid fa-arrow-down text-black"></i>
      </button>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= @finding.animal.details %>
      </div>
    </div>
    <% if @finding.user == current_user %>
      <div class="d-flex justify-content-between">
        <%= link_to '<i class="fa-solid fa-trash text-black"></i>'.html_safe, finding_path(@finding), class: "btn btn-ghost px-3 d-flex align-items-center ms-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_finding_path(@finding), class: "btn btn-highlight px-3 py-2 m-0" %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center flex-column">
  <%= link_to(:back) do %>
    <button class="btn btn-nav px-5"><i class="fa-solid fa-arrow-left text-black"></i></button>
  <% end %>
</div>
