<div data-controller="friendtabs" class="mb-5 pb-5">
  <div>
    <ul class="list-inline tabs-underlined mb-5" >
      <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink" data-find-friends-target="findfriendstablink" class="tab-underlined active" id="friendslist">
        <span>Friends list</span>
      </li>
      <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink" data-find-friends-target="findfriendstablink"  class="tab-underlined" id="alllocations">
        <span>Map</span>
      </li>
      <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink" data-find-friends-target="findfriendstablink" class="tab-underlined" id="findfriends">
        <span>Find friends</span>
      </li>
    </ul>

    <div data-friendtabs-target="friendtabcontent friendslist" data-find-friends-target="findfriendstabcontent friendslist">
      <% if @friendships.count > 0 %>
        <p class="text-center"> You have <%= @friendships.count %> friends </p>
      <% else %>
        <p class="text-center">Go to find friends to add to your friends list</p>
      <% end %>

      <div class="cards">
      <% @friendships.each do |f| %>
          <div class="card-horizontal">
            <%= image_tag f.receiver.avatar, class: "card-horizontal img" %>
            <div class="card-horizontal-infos">
              <h2><%= f.receiver.username %></h2>
              <%= link_to "View Profile", user_path(f.receiver.id), class: "btn btn-outline-success"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div data-friendtabs-target="friendtabcontent alllocations" data-find-friends-target="findfriendstabcontent alllocations" class="d-none">
      <h5 class="text-center mb-5">Your finds</h5>
    </div>

    <div data-friendtabs-target="friendtabcontent findfriends" data-find-friends-target="findfriendstabcontent findfriends" class="d-none">
      <%= turbo_frame_tag "search" do%>

        <%= form_with url: friendships_path, method: :get, html: { class: 'mb-5 mx-4', autocomplete: "off", data: { find_friends_target: 'form', action: "submit->find-friends#update" } } do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "Enter your friend's username",
                          value: params[:query],
                          data: {
                            find_friends_target: 'searchInput',
                          } %>
        <% end %>
        <%= render 'amazingpartial', users: @users %>
      <% end %>
      </div>
    </div>
  </div>
</div>
