<div class="container">
  <h1> View all the animals here</h1>

  <div class="cards">
    <% @animals.each do |animal| %>
      <div class="card-horizontal">
        <%= cl_image_tag animal.photo.key, crop: :fill, class: "card-horizontal img" %>
        <div class="card-horizontal-infos">
          <h2><%= animal.name %></h2>
          <p>The <%= animal.name %> is a <%= animal.classification%>. <br>It likes to <%= animal.behaviour%>.</p>
          <div class="card-vertical-bottom">
            <%= link_to "See details", animal_path(animal), :class => "btn btn-highlight" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div>
  <%= link_to "Look for another animal", root_path, class: "btn btn-ghost" %>
  </div>

</div>
