<h1 class="text-center my-4">Choose an animal</h1>

<div class="cards">
  <% @animals.each do |animal| %>
    <%= link_to(animal_path(animal)) do %>
      <div class="card-vertical">
        <%= cl_image_tag animal.photo.key, crop: :fill, class: "card-vertical-cover-img" %>
        <div class="card-vertical-infos">
          <h2><%= animal.name %></h2>
          <p>The <%= animal.name %> is a <%= animal.classification%>.</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
