<h1 class="text-center my-4">Choose an animal</h1>

<div class="cards">
  <% @animals.each do |animal| %>
    <%= link_to(animal_path(animal)) do %>
      <div class="card-horizontal">
        <%= cl_image_tag animal.photo.key, crop: :fill, class: "card-horizontal img" %>
        <div class="card-horizontal-infos">
          <h2><%= animal.name %></h2>
          <p>The <%= animal.name %> is a <%= animal.classification%>.</p>
          <div class="card-horizontal-bottom">
            <%# <%= link_to "➡", animal_path(animal), :class => "btn btn-highlight" %>
            <i class="btn btn-highlight">➡</i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>