
<div class="card-vertical">
  <%= cl_image_tag @animal.photo.key, crop: :fill, class: "card-vertical-cover-img" %>
  <div class="card-vertical-infos">
    <div class="card-vertical-description">
      <h2><%= @animal.name %></h2>
      <br>
      <p><%= @animal.details %></p>
      <br>
      <p>The <%= @animal.name %> is a <%= @animal.classification %>.</p>
      <p>It lives at the <%= @animal.habitat %> and likes to <%= @animal.behaviour%></p>
      <p>The <%= @animal.name %>'s colour is <%= @animal.colour %>.
        His tail is very <%= @animal.tail %> and its legs are <%= @animal.legs %>.</p>
    </div>
    <div class="card-vertical-bottom">
      <%= link_to(new_animal_finding_path(@animal)) do %>
        <button class="btn btn-highlight px-3"><i class="fa-solid fa-plus"></i></button>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center mb-3">
  <%= link_to(:back) do %>
    <button class="btn btn-nav px-5"><i class="fa-solid fa-arrow-left text-black"></i></button>
  <% end %>
</div>
