
<div class="card-vertical">
  <%= cl_image_tag @animal.photo.key, crop: :fill, class: "card-vertical-cover-img-large" %>
  <div class="card-vertical-infos">
    <div class="card-vertical-description">
      <h2><%= @animal.name %></h2>
      <br>
      <p><%= @animal.details %></p>
      <br>
      <p>The <%= @animal.name %> is a <%= @animal.classification %>.</p>
      <p>It lives at the <%= @animal.habitat %> and likes to <%= @animal.behaviour%></p>
      <p>The <%= @animal.name %>'s colour is <%= @animal.colour %>.
        His tail is very <%= @animal.tail %> and its legs are <%= @animal.legs %>.</p>
    </div>
    <%= link_to(new_animal_finding_path(@animal)) do %>
      <button class="btn btn-highlight btn-highlight-full-width"><i class="fa-solid fa-plus"></i></button>
    <% end %>
  </div>
</div>
