<!DOCTYPE html>
<html>
  <head>
    <title>PocketZoo2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Luckiest+Guy&family=Raleway&display=swap" rel="stylesheet">
    <%# <%= favicon_link_tag "Pocket-Zoo-1.png" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
  <div class="d-flex flex-column min-vh-100">
    <% if current_page?(root_path) %>
      <%= render "shared/homepage_navbar" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <article class="flex-grow-1">
      <%= yield %>
    </article>
    <% if current_page?(root_path) %>
      <%= render "shared/homepage_footer" %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
  </div>
  </body>
</html>
